:root {
  --main-color: dodgerblue;
}

.App {
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #eee;
  display: flex;
  place-content: center;
  place-items: center;
}

button {
  cursor: pointer;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: -1px 1px 12px rgba(0, 0, 0, 0.2);
}

.input_group input {
  padding: 8px;
  margin: 3px;
}

.input_group button {
  padding: 8px;
  margin: 3px;
  background-color: var(--main-color);
  border: none;
  color: white;
  border-radius: 3px;
  font-weight: bold;
}

.input_group button:hover {
  opacity: 0.3;
}

.input_group button:first-of-type {
  background-color: tomato;
}

.input_group button:disabled {
  opacity: 0.3;
}

.container > button {
  margin-top: 30px;
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 9px;
}

.container > button:hover {
  opacity: 0.3;
}

.container p {
  color: var(--main-color);
  font-weight: bold;
}